.DS_Store
Track_Resources/__pycache__/Track.cpython-37.pyc
__pycache__/Main_Backend.cpython-37.pyc
__pycache__/signals.cpython-37.pyc
Modules/SW_Wayside/Frontend/__pycache__/
Modules/SW_Wayside/Backend/__pycache__/SW_Wayside_Backend.cpython-37.pyc
.venv/lib/python3.7/site-packages/PyQt6/uic/Compiler/__pycache__/qtproxies.cpython-37.pyc
.venv/lib/python3.7/site-packages/PyQt6/uic/__pycache__/compile_ui.cpython-37.pyc
.venv/lib/python3.7/site-packages/PyQt6/uic/__pycache__/properties.cpython-37.pyc
.venv/lib/python3.7/site-packages/PyQt6/uic/__pycache__/uiparser.cpython-37.pyc
.venv/lib/python3.7/site-packages/numpy/lib/__pycache__/arraypad.cpython-37.pyc
.venv/lib/python3.7/site-packages/numpy/ma/__pycache__/core.cpython-37.pyc
.venv/lib/python3.7/site-packages/numpy/polynomial/__pycache__/polynomial.cpython-37.pyc